body {
	background-image: url(../assets/images/bckgrd_img2.jpg);
	max-width: 100%;
	height: auto;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: -1;
	overflow: hidden;
}

/* h1 {
	font-family: 'Cinzel', serif;
	color: #fff6e1;
	letter-spacing: 5px;
	margin-left: 300px;
	padding-top: 60px;
	font-weight: 150;
} */

.navbar-inverse {
	background-color: #d17804;
	font-family: 'Cinzel', serif;
}

.navbar-inverse .navbar-nav > li > a {
	color: #fff6e1;
	letter-spacing: 5px;
}
.navbar-inverse .navbar-brand {
	color: #fff6e1;
	letter-spacing: 3px;

	font-weight: 900;
}

.header {
	font-family: 'Cinzel', serif;
	color: #fff6e1;
	letter-spacing: 10px;
	margin-left: 20%;

	padding-top: 90px;
}

.social-med {
	position: relative;
	left: 40%;
	color: #836e4f;
	font-size: 35px;
	margin-bottom: 0px;
	padding-top: 360px;
}
.social-med:hover {
	color: #fff6e1;
}
.fab:hover {
	color: #fff6e1;
}
.fab {
	color: #836e4f;
}
@media screen and (max-width: 320px) {
	h1 {
		font-size: 80%;
		float: right;
	}
}
@media screen and (max-width: 768px) {
	h1 {
		font-size: 120%;
		float: right;
	}
}
